<div>
    <h2>Dashboard</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button ng-disabled="!warn" class="btn btn-primary" ng-click="loadErr()">Waiting SSE</button>
                <button ng-disabled="warn" class="btn btn-primary" ng-click="loadWarn()">Differing status</button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table">
            <thead>
            <tr>
                <th><span>StormKey</span></th>
                <th><span>JiraKey</span></th>
                <th><span>JiraTitle</span></th>
                <th><span>JiraStatus</span></th>
                <th><span>StormStatus</span></th>
                <th><span>Assignee</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ticket in tickets track by ticket.id" ng-class="getRowAlertClasses(ticket)">
                <td><a href="https://customer.tdchosting.com/tickets/tickets-details/?id={{ticket.stormKey}}">{{ticket.stormKey}}</a></td>
                <td><a href="http://support.systematic.com/browse/{{ticket.jiraKey}}">{{ticket.jiraKey}}</a></td>
                <td>{{ticket.jiraTitle}}</td>
                <td>{{ticket.jiraStatus}}</td>
                <td>{{ticket.stormStatus}}</td>
                <td>{{ticket.jiraAssignee}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
